body {
	
}

main {
	margin-left: 3%;
	margin-right: 3%;
	background-color: #fff;
	width: auto;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	text-align: center;
	margin: 5px;
}

footer {
	background-color: #fff;
}

.navbar.navbar-inverse.navbar-fixed-top {
	height: 20%;
	background-color: #000;
	margin-left: 3%;
	margin-right: 3%;
	padding: 0;
}

.parallax {
	background-image: url("/images/bitcoin.jpg");
	min-height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax2 {
	background-image: url("/images/drone.jpg");
	min-height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	height: auto;
	width: auto;
	margin: auto;
	display: inherit;

}

.textfield {
	height: auto;
	background-color: #e5e5e5;
	padding: 50px 80px;
}

.center {
	text-align: center;
}