main {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 70px;
	background-color: #fff;
	width: auto;
	background-color: #fff;
}

body {
	padding-bottom: 10px;
	color: #5a5a5a;
}

h2 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 10px "Lato", sans-serif;
	text-align: center;
	margin: 5px;
}

h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	text-align: center;
	margin: 5px;
}

footer {
	background-color: #fff;
}

label.checkbox {
	margin-left: 20px;
}

.modal-dialog {
	width: 200px;
}

.parallax {
	background-image: url("/images/keyboard.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax2 {
	background-image: url("/images/macbook.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax3 {
	background-image: url("/images/Zurich-Panorama.jpg");
	min-width: auto;
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.eingabeNachricht {
	position: absolute;
	height: auto;
	left: 25%;
	z-index: 800;
	opacity: 1;
}

.modal-content {
	width: 300px;
}

.textfield {
	height: auto;
	background-color: #e5e5e5;
	padding: 50px 80px;
}

/* CHAT
-------------------------------------------------- */
#chat {
	margin: 0 auto;
	width: 1200px;
}

#absendenButton {
	width: 100px;
}

.chatBoxGross {
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: #fff;
	height: 500px;
	width: 800px;
	border: 1px solid #c0c0c0;
	overflow: auto;
}

#rechts {
	height: auto;
	width: 800px;
	float: left;
	margin-left: 20px;
}

.links {
	float: left;
}

#nachricht {
	width: 800px;
	margin: 0 auto;
}

.chatBoxKlein {
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: #fff;
	height: 235px;
	width: 300px;
	border: 1px solid #c0c0c0;
	overflow: auto;
}
/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper>.container {
	padding-right: 0;
	padding-left: 0;
}

.navbar {
	margin-bottom: 0;
}

.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-wrapper .navbar .container {
	width: auto;
}

.navbar-inverse {
	background-color: #000;
}

a:focus {
	outline: none;
}

/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	max-height: 700px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	max-height: 700px;
	background-color: #777;
}

.carousel-inner>.item>img {
	top: 0;
	left: 0;
	width: auto;
	height: auto;
}

.slideshow {
	height: 70%;
}